<!DOCTYPE html>
<html>
  <head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
    <meta charset='utf-8'>
    <title>feedback</title>
  </head>
  <body>
    <!--
        When switch is ON (switch=1) and user press submit button, codes will delete
        event information from the database and display this page
      -->
    {% if nc == 1 %}
    <h1> object id is removed from the database! </h1>

    <!--
        When switch is OFF (switch=0) and user press submit button, will display
        this page with a table containing event id, event organization name and
        their e-mail address.
        Since we don't have actual email address of organizations, the page
        will display fake e-mail address (ilovemoney@gmail.com)-->
    {% else %}
    <h1> contact</h1>
    <table>
    <tr>
    <th>Object_ID</th>
    <th>Organization Name</th>
    <th>e-mail</th>
    </tr>

    <tr>
    <td>{{id}}</td>
    <td>{{orgname}}</td>
    <td>ilovemoney@gmail.com</td>

    </tr>
  </table>
    {% endif %}
    <!-- a link to the previous score page.
        make sure that the address is correct!-->
    <a href= "http://0.0.0.0:5000/score">Back_to_score_page</a>
  </body>
</html>
