<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Score_page</title>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
  </head>
  <body>
    <hr>
    <!-- overall prediction results -->
    <h3>Total number of non-fraud events: {{len_nf}}<br>
      Total number of possibly fraud events: {{len_mb}}<br>
      Total number of highly fraud events: {{len_fr}}<br>
    <hr>
    <!-- table for non-fraud events. followings are columns for the table-->
    <h1>non-fraud events: </h1>
      <table>
      <tr>
      <th>Object_ID</th>
      <th>Organization Name</th>
      <th>Country</th>
      <th>Non-Fraud percentage</th>
      <th>Possibly Fraud percentage</th>
      <th>Highly Fraud percentage</th>
      <th>time received</th>
      </tr>
      <!-- following for loop will import non-fraud events information
      from  our database -->
      {%for i in nf %}
      <tr>
      <td>{{i.object_id}}</td>
      <td>{{i.org_name}}</td>
      <td>{{i.country}}</td>
      <td>{{i.not_fraud}}</td>
      <td>{{i.maybe}}</td>
      <td>{{i.fraud}}</td>
      <td>{{i.time_stamp}}</td>
      </tr>
      {% endfor %}
    </table>
    <br><br>
    <hr>
    <!-- table for possibly fraud events. followings are columns for the table -->
    <h1>possibly fraud events: </h1>
      <table>
      <tr>
      <th>Object_ID</th>
      <th>Organization Name</th>
      <th>Country</th>
      <th>Non-Fraud percentage</th>
      <th>Possibly Fraud percentage</th>
      <th>Highly Fraud percentage</th>
      <th>time received</th>
      <th>contacted</th>
      </tr>
      <!-- following for loop will import possibly fraud events information
      from  our database  -->
      {%for j in mb %}
      <tr>
      <td>{{j.object_id}}</td>
      <td>{{j.org_name}}</td>
      <td>{{j.country}}</td>
      <td>{{j.not_fraud}}</td>
      <td>{{j.maybe}}</td>
      <td>{{j.fraud}}</td>
      <td>{{j.time_stamp}}</td>
      <!-- codes for radio buttons
          When switch is ON (=1) and user press submit button, it will delete
          event information from the database.
          When switch is OFF (=0) and user press submit button, it will display
          event id, event organization name and their e-mail address.
          Since we don't have actual email address of organizations, the page
          will display fake e-mail address (ilovemoney@gmail.com)-->
      <td>
        <form action = '{{ url_for('feedback') }}' method= "POST">
        <input type="radio" name=switch value=1 > yes<br>
        <input type="radio" name=switch value=0 checked> no<br>
        <input type="hidden" value={{j.object_id}} name="id">
        <input type="hidden" value={{j.org_name}} name="orgname">
        <input type="submit" value='submit'/>
        </form>
      </td>
      </tr>
      {% endfor %}
    </table>
    <hr>
    <!-- table for highly fraud events. followings are columns for the table -->
    <h1>highly fraud events: </h1>
    <table>
    <tr>
    <th>Object_ID</th>
    <th>Organization Name</th>
    <th>Country</th>
    <th>Non-Fraud percentage</th>
    <th>Possibly Fraud percentage</th>
    <th>Highly Fraud percentage</th>
    <th>time received</th>
    <th>Contacted</th>
    </tr>
    <!-- ollowing for loop will import highly fraud events information
    from  our database -->
    {%for k in fr %}
    <tr>
    <td>{{k.object_id}}</td>
    <td>{{k.org_name}}</td>
    <td>{{k.country}}</td>
    <td>{{k.not_fraud}}</td>
    <td>{{k.maybe}}</td>
    <td>{{k.fraud}}</td>
    <td>{{k.time_stamp}}</td>
    <!-- codes for radio buttons
        When switch is ON (=1) and user press submit button, it will delete
        event information from the database.
        When switch is OFF (=0) and user press submit button, it will display
        event id, event organization name and their e-mail address.
        Since we don't have actual email address of organizations, the page
        will display fake e-mail address (ilovemoney@gmail.com)-->
    <td>
        <form action = '{{ url_for('feedback') }}' method= "POST">
        <input type="radio" name=switch value=1 > yes<br>
        <input type="radio" name=switch value=0 checked> no<br>
        <input type="hidden" value={{k.object_id}} name="id">
        <input type="hidden" value={{k.org_name}} name="orgname">
        <input type="submit" value='submit'/>
      </form>
    </td>
    </tr>
    {% endfor %}
  </table>
  </body>
</html>


<!-- <p>
{% for x in nf %}
object id: {{ x }}<br>
{% endfor %}
<br>
<br>
<h1>events that could be harmful: </h1>
{% for x2 in mb %}
object id: {{ x2 }}<br>
{% endfor %}
<br>
<br>
<h1>FRAUD!: </h1>
{% for x3 in fr %}
object id: {{ x3 }}
{% endfor %} -->
<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>results</title>
  </head>
  <body>
    {% if result %}
    <h1>premium events: {{ nf }} </h1>
    <p>Hope you enjoyed :) </p>
    {% else %}
    <h1>Hello!</h1>
    <p>I don't think you submitted your data </p>

    {% endif %}
  </body>
</html>
 -->
